<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjpower.springboot.dao.ZjStudentMapper">
    <resultMap id="BaseResultMap" type="com.zjpower.springboot.entity.ZjStudent">
        <!--@mbg.generated-->
        <!--@Table zj_student-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="student_name" jdbcType="VARCHAR" property="studentName"/>
        <result column="class_id" jdbcType="INTEGER" property="classId"/>
        <result column="created_at" jdbcType="TIMESTAMP" property="createdAt"/>
        <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, student_name, class_id, created_at, updated_at
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from zj_student
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete from zj_student
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.zjpower.springboot.entity.ZjStudent"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into zj_student (student_name, class_id, created_at,
        updated_at)
        values (#{studentName,jdbcType=VARCHAR}, #{classId,jdbcType=INTEGER}, #{createdAt,jdbcType=TIMESTAMP},
        #{updatedAt,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.zjpower.springboot.entity.ZjStudent"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into zj_student
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="studentName != null">
                student_name,
            </if>
            <if test="classId != null">
                class_id,
            </if>
            <if test="createdAt != null">
                created_at,
            </if>
            <if test="updatedAt != null">
                updated_at,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="studentName != null">
                #{studentName,jdbcType=VARCHAR},
            </if>
            <if test="classId != null">
                #{classId,jdbcType=INTEGER},
            </if>
            <if test="createdAt != null">
                #{createdAt,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedAt != null">
                #{updatedAt,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.zjpower.springboot.entity.ZjStudent">
        <!--@mbg.generated-->
        update zj_student
        <set>
            <if test="studentName != null">
                student_name = #{studentName,jdbcType=VARCHAR},
            </if>
            <if test="classId != null">
                class_id = #{classId,jdbcType=INTEGER},
            </if>
            <if test="createdAt != null">
                created_at = #{createdAt,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedAt != null">
                updated_at = #{updatedAt,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.zjpower.springboot.entity.ZjStudent">
        <!--@mbg.generated-->
        update zj_student
        set student_name = #{studentName,jdbcType=VARCHAR},
        class_id = #{classId,jdbcType=INTEGER},
        created_at = #{createdAt,jdbcType=TIMESTAMP},
        updated_at = #{updatedAt,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="selectByClassIdAndStuName" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from zj_student
        where class_id = #{classId,jdbcType=INTEGER}
        and student_name = #{stuName, jdbcType=VARCHAR}
    </select>
</mapper>