<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjpower.springboot.dao.ZjStudentGradesMapper">
    <resultMap id="BaseResultMap" type="com.zjpower.springboot.entity.ZjStudentGrades">
        <!--@mbg.generated-->
        <!--@Table zj_student_grades-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="student_id" jdbcType="INTEGER" property="studentId"/>
        <result column="exam_id" jdbcType="INTEGER" property="examId"/>
        <result column="subject_id" jdbcType="INTEGER" property="subjectId"/>
        <result column="grades" jdbcType="DOUBLE" property="grades"/>
        <result column="created_at" jdbcType="TIMESTAMP" property="createdAt"/>
        <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, student_id, exam_id, subject_id, grades, created_at, updated_at
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from zj_student_grades
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete from zj_student_grades
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.zjpower.springboot.entity.ZjStudentGrades"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into zj_student_grades (student_id, exam_id, subject_id,
        grades, created_at, updated_at
        )
        values (#{studentId,jdbcType=INTEGER}, #{examId,jdbcType=INTEGER}, #{subjectId,jdbcType=INTEGER},
        #{grades,jdbcType=DOUBLE}, #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP}
        )
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id"
            parameterType="com.zjpower.springboot.entity.ZjStudentGrades" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into zj_student_grades
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="studentId != null">
                student_id,
            </if>
            <if test="examId != null">
                exam_id,
            </if>
            <if test="subjectId != null">
                subject_id,
            </if>
            <if test="grades != null">
                grades,
            </if>
            <if test="createdAt != null">
                created_at,
            </if>
            <if test="updatedAt != null">
                updated_at,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="studentId != null">
                #{studentId,jdbcType=INTEGER},
            </if>
            <if test="examId != null">
                #{examId,jdbcType=INTEGER},
            </if>
            <if test="subjectId != null">
                #{subjectId,jdbcType=INTEGER},
            </if>
            <if test="grades != null">
                #{grades,jdbcType=DOUBLE},
            </if>
            <if test="createdAt != null">
                #{createdAt,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedAt != null">
                #{updatedAt,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.zjpower.springboot.entity.ZjStudentGrades">
        <!--@mbg.generated-->
        update zj_student_grades
        <set>
            <if test="studentId != null">
                student_id = #{studentId,jdbcType=INTEGER},
            </if>
            <if test="examId != null">
                exam_id = #{examId,jdbcType=INTEGER},
            </if>
            <if test="subjectId != null">
                subject_id = #{subjectId,jdbcType=INTEGER},
            </if>
            <if test="grades != null">
                grades = #{grades,jdbcType=DOUBLE},
            </if>
            <if test="createdAt != null">
                created_at = #{createdAt,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedAt != null">
                updated_at = #{updatedAt,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.zjpower.springboot.entity.ZjStudentGrades">
        <!--@mbg.generated-->
        update zj_student_grades
        set student_id = #{studentId,jdbcType=INTEGER},
        exam_id = #{examId,jdbcType=INTEGER},
        subject_id = #{subjectId,jdbcType=INTEGER},
        grades = #{grades,jdbcType=DOUBLE},
        created_at = #{createdAt,jdbcType=TIMESTAMP},
        updated_at = #{updatedAt,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <insert id="batchInsertOrUpdateGrade">
        insert into zj_student_grades (student_id, exam_id, subject_id, grades)
        values
        <foreach collection="gradesList" item="item" index="index" separator=",">
            (#{item.studentId,jdbcType=INTEGER}, #{item.examId, jdbcType=INTEGER}, #{item.subjectId,jdbcType=INTEGER},
            #{item.grades,jdbcType=DOUBLE})
        </foreach>
        ON DUPLICATE KEY UPDATE
        student_id = values(student_id),
        exam_id = values(exam_id),
        subject_id = values(subject_id),
        grades = values(grades)
    </insert>
    <select id="selectCountsOfTakingExamStuAndClassByExamId" resultType="java.util.Map">
        SELECT COUNT(DISTINCT zsg.student_id) as "countStu",
	        COUNT(DISTINCT zs.class_id) as "countClass"
        FROM test.zj_student_grades zsg, test.zj_student zs
        WHERE zsg.student_id = zs.id
            AND zsg.exam_id = #{examId,jdbcType=INTEGER}
        GROUP BY zsg.exam_id
    </select>
    <select id="selectAvgGradesOfSchoolByExamId" resultType="java.util.Map">
        SELECT CONVERT(SUM(CASE WHEN zsg.subject_id = 1 THEN zsg.grades ELSE 0 END) / COUNT(CASE WHEN zsg.subject_id = 1 THEN 1 ELSE NULL END), decimal(5, 2)) as "chinese",
	        CONVERT(SUM(CASE WHEN zsg.subject_id = 2 THEN zsg.grades ELSE 0 END) / COUNT(CASE WHEN zsg.subject_id = 1 THEN 1 ELSE NULL END), decimal(5, 2)) as "math",
	        CONVERT(SUM(CASE WHEN zsg.subject_id = 3 THEN zsg.grades ELSE 0 END) / COUNT(CASE WHEN zsg.subject_id = 1 THEN 1 ELSE NULL END), decimal(5, 2)) as "english",
	        CONVERT(SUM(CASE WHEN zsg.subject_id = 4 THEN zsg.grades ELSE 0 END) / COUNT(CASE WHEN zsg.subject_id = 1 THEN 1 ELSE NULL END), decimal(5, 2)) as "physics",
	        CONVERT(SUM(CASE WHEN zsg.subject_id = 5 THEN zsg.grades ELSE 0 END) / COUNT(CASE WHEN zsg.subject_id = 1 THEN 1 ELSE NULL END), decimal(5, 2)) as "chemistry"
        FROM test.zj_student_grades zsg
        WHERE zsg.exam_id = #{examId,jdbcType=INTEGER}
        GROUP BY zsg.exam_id
    </select>
    <select id="selectAvgClassGradesOfSchoolByExamId" resultType="java.util.Map">
        SELECT zs.class_id as "class_id",
	        zsc.class_name as "class_name",
	        CONVERT(SUM(CASE WHEN zsg.subject_id = 1 THEN zsg.grades ELSE 0 END) / COUNT(CASE WHEN zsg.subject_id = 1 THEN 1 ELSE NULL END), decimal(5, 2)) as "chinese",
	        CONVERT(SUM(CASE WHEN zsg.subject_id = 2 THEN zsg.grades ELSE 0 END) / COUNT(CASE WHEN zsg.subject_id = 1 THEN 1 ELSE NULL END), decimal(5, 2)) as "math",
	        CONVERT(SUM(CASE WHEN zsg.subject_id = 3 THEN zsg.grades ELSE 0 END) / COUNT(CASE WHEN zsg.subject_id = 1 THEN 1 ELSE NULL END), decimal(5, 2)) as "english",
	        CONVERT(SUM(CASE WHEN zsg.subject_id = 4 THEN zsg.grades ELSE 0 END) / COUNT(CASE WHEN zsg.subject_id = 1 THEN 1 ELSE NULL END), decimal(5, 2)) as "physics",
	        CONVERT(SUM(CASE WHEN zsg.subject_id = 5 THEN zsg.grades ELSE 0 END) / COUNT(CASE WHEN zsg.subject_id = 1 THEN 1 ELSE NULL END), decimal(5, 2)) as "chemistry"
        FROM test.zj_student_grades zsg,test.zj_student zs, test.zj_student_class zsc
        WHERE zsg.student_id = zs.id
            AND zs.class_id = zsc.id
            AND zsg.exam_id = #{examId,jdbcType=INTEGER}
        GROUP BY zsg.exam_id, zs.class_id
        ORDER BY zs.class_id
    </select>
    <select id="selectClassRankOfSubjectByExamId" resultType="java.util.Map">
        SELECT 	zsg.subject_id as "subjId",
	        zss.subject_name as "subjName",
	        zs.class_id as "classId",
	        zsc.class_name as "className",
	        CONVERT(AVG(grades), decimal(5, 2)) as "avgGrade"
        FROM test.zj_student_grades zsg
        LEFT JOIN test.zj_student_subject zss
	        ON zss.id = zsg.subject_id
            ,test.zj_student zs, test.zj_student_class zsc
        WHERE zsg.student_id = zs.id
	        AND zs.class_id = zsc.id
	        AND zsg.exam_id = #{examId,jdbcType=INTEGER}
        GROUP BY zsg.exam_id, zsg.subject_id, zs.class_id
        ORDER BY zsg.subject_id, avgGrade DESC
    </select>
    <select id="selectTop3StuGradesByExamId" resultType="java.util.Map">
        SELECT zsg.student_id as "stuId",
	        zs.student_name as "stuNmae",
	        CONVERT(sum(zsg.grades), decimal(5, 2)) as "total",
	        MAX(CASE WHEN zsg.subject_id = 1 THEN zsg.grades ELSE NULL END)	as "chinese",
	        MAX(CASE WHEN zsg.subject_id = 2 THEN zsg.grades ELSE NULL END)	as "math",
	        MAX(CASE WHEN zsg.subject_id = 3 THEN zsg.grades ELSE NULL END)	as "english",
	        MAX(CASE WHEN zsg.subject_id = 4 THEN zsg.grades ELSE NULL END)	as "physics",
	        MAX(CASE WHEN zsg.subject_id = 5 THEN zsg.grades ELSE NULL END)	as "chemistry"
        FROM test.zj_student_grades zsg
        LEFT JOIN test.zj_student zs
	        ON zs.id = zsg.student_id
	    WHERE zsg.exam_id = #{examId,jdbcType=INTEGER}
        GROUP BY zsg.exam_id, zsg.student_id
        ORDER BY total DESC
        LIMIT 0, 3
    </select>
    <select id="selectCountGreaterAvgByExamId" resultType="java.util.Map">
        SELECT temp.exam_id as examId,
            zs.class_id as "classId",
	        zsc.class_name as "className",
	        temp.subCount as "countGreaterAvg"
        FROM (
	        SELECT avgT.exam_id,
                zsg.student_id,
		        COUNT(CASE WHEN zsg.grades > avgT.avgGrades THEN 1 ELSE NULL END) AS subCount
	        FROM test.zj_student_grades zsg
	        LEFT JOIN (
		        SELECT zsg.exam_id,
		            zsg.subject_id ,
			        AVG(zsg.grades) AS avgGrades
		        FROM test.zj_student_grades zsg
		        WHERE zsg.exam_id = #{examId,jdbcType=INTEGER}
		        GROUP BY zsg.exam_id, zsg.subject_id
            ) avgT ON avgT.exam_id = zsg.exam_id
		            AND avgT.subject_id = zsg.subject_id
            WHERE zsg.exam_id = #{examId,jdbcType=INTEGER}
	        GROUP BY zsg.student_id
	        HAVING subCount > 2
	        ) temp
        LEFT JOIN test.zj_student zs
            ON zs.id = temp.student_id
	        LEFT JOIN test.zj_student_class zsc
		        ON zsc.id = zs.class_id
            GROUP BY zs.class_id
    </select>
</mapper>